In [7]:
import sqlalchemy
import yfinance as yf
import pandas as pd
from pandas.tseries.offsets import MonthEnd
import datetime as dt

In [8]:
data =[]

In [9]:
wiki = "https://en.wikipedia.org/wiki/BSE_SENSEX"
data = pd.read_html(wiki)[1].Symbol.to_list()
data

['ADANIPORTS.BO',
 'ASIANPAINT.BO',
 'AXISBANK.BO',
 'BAJFINANCE.BO',
 'BAJAJFINSV.BO',
 'BHARTIARTL.BO',
 'HCLTECH.BO',
 'HDFCBANK.BO',
 'HINDUNILVR.BO',
 'ICICIBANK.BO',
 'INDUSINDBK.BO',
 'INFY.BO',
 'ITC.BO',
 'JSWSTEEL.BO',
 'KOTAKBANK.BO',
 'LT.BO',
 'M&M.BO',
 'MARUTI.BO',
 'NESTLEIND.BO',
 'NTPC.BO',
 'POWERGRID.BO',
 'RELIANCE.BO',
 'SBIN.BO',
 'SUNPHARMA.BO',
 'TCS.BO',
 'TATAMOTORS.BO',
 'TATASTEEL.BO',
 'TECHM.BO',
 'TITAN.BO',
 'ULTRACEMCO.BO']

In [10]:
stock_data = []
for ticker in data:
   stock_data.append(yf.download(ticker).reset_index())

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [28]:
engine = sqlalchemy.create_engine("sqlite:///BSE_SENSEX.db")
for frame,symbol in zip(stock_data,data):
    frame.to_sql(symbol,engine,index=False)

In [12]:
pd.read_sql(f'Select date,"Adj Close" as "INFY.BO"  from "INFY.BO"',engine)

                            Date      INFY.BO
0     2000-01-03 00:00:00.000000    -1.793299
1     2000-01-04 00:00:00.000000    -1.934303
2     2000-01-05 00:00:00.000000    -1.779561
3     2000-01-06 00:00:00.000000    -1.637201
4     2000-01-07 00:00:00.000000    -1.506228
...                          ...          ...
6113  2024-09-04 00:00:00.000000  1922.050049
6114  2024-09-05 00:00:00.000000  1933.000000
6115  2024-09-06 00:00:00.000000  1902.199951
6116  2024-09-09 00:00:00.000000  1894.699951
6117  2024-09-10 00:00:00.000000  1912.900024

[6118 rows x 2 columns]

In [13]:
df = pd.DataFrame()

In [14]:
dfs = []

for name in data:
    query = f'SELECT date, "Adj Close" AS "{name}" FROM "{name}" WHERE date > "2014-01-01"'
    df = pd.read_sql(query, engine)
    if df.empty:
        print(f"No data returned for {name}")
    else:
        dfs.append(df)



df = pd.concat(dfs, axis=0)
df = df.reset_index(drop=True)
df

,Date,ADANIPORTS.BO,ASIANPAINT.BO,AXISBANK.BO,BAJFINANCE.BO,BAJAJFINSV.BO,BHARTIARTL.BO,HCLTECH.BO,HDFCBANK.BO,HINDUNILVR.BO,...,POWERGRID.BO,RELIANCE.BO,SBIN.BO,SUNPHARMA.BO,TCS.BO,TATAMOTORS.BO,TATASTEEL.BO,TECHM.BO,TITAN.BO,ULTRACEMCO.BO
0,2014-01-01 00:00:00.000000,148.608017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2014-01-02 00:00:00.000000,145.229492,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2014-01-03 00:00:00.000000,142.850266,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2014-01-06 00:00:00.000000,143.516418,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2014-01-07 00:00:00.000000,138.995834,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78345,2024-09-04 00:00:00.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11590.500000
78346,2024-09-05 00:00:00.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11537.250000
78347,2024-09-06 00:00:00.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11426.799805
78348,2024-09-09 00:00:00.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11497.099609
78349,2024-09-10 00:00:00.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11541.799805

In [15]:
df = df.groupby("Date").sum()
df

,ADANIPORTS.BO,ASIANPAINT.BO,AXISBANK.BO,BAJFINANCE.BO,BAJAJFINSV.BO,BHARTIARTL.BO,HCLTECH.BO,HDFCBANK.BO,HINDUNILVR.BO,ICICIBANK.BO,...,POWERGRID.BO,RELIANCE.BO,SBIN.BO,SUNPHARMA.BO,TCS.BO,TATAMOTORS.BO,TATASTEEL.BO,TECHM.BO,TITAN.BO,ULTRACEMCO.BO
Date,,,,,,,,,,,,,,,,,,,,,
2014-01-01 00:00:00.000000,148.608017,457.888153,237.651199,132.478210,71.218613,317.704865,208.925980,291.359375,482.071930,167.935471,...,27.960808,399.871674,136.612396,533.455017,784.349548,370.850983,2.492016,331.822601,219.604156,1694.514771
2014-01-02 00:00:00.000000,145.229492,444.742828,234.155655,132.696854,68.394867,308.764648,207.821655,287.766968,474.442108,164.522919,...,28.706987,393.864899,134.847961,534.852844,787.481628,367.932861,2.459477,329.643463,215.322479,1661.554199
2014-01-03 00:00:00.000000,142.850266,448.315430,231.929550,131.931625,68.465347,309.470459,209.390961,290.614594,476.591705,163.283371,...,28.256466,389.207825,132.804947,540.491272,809.223450,358.782776,2.419022,333.420654,216.178802,1659.299194
2014-01-06 00:00:00.000000,143.516418,449.231506,231.064865,130.531494,68.488838,309.423340,207.788452,290.023193,475.285065,159.258667,...,28.059359,384.663361,130.603226,548.133240,815.633179,362.887939,2.393519,330.079285,216.511826,1651.334839
2014-01-07 00:00:00.000000,138.995834,449.048340,227.081802,130.766968,68.625076,312.105438,208.436081,291.227936,471.533386,160.674149,...,27.777779,378.926453,128.444138,553.352234,804.197632,361.354645,2.314663,327.391602,214.608841,1622.836548
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-09-04 00:00:00.000000,1472.300049,3231.899902,1177.500000,7298.149902,1871.949951,1562.000000,1785.050049,1641.949951,2841.100098,1235.750000,...,332.799988,3029.800049,816.500000,1832.699951,4479.649902,1080.300049,151.300003,1644.849976,3609.000000,11590.500000
2024-09-05 00:00:00.000000,1465.400024,3237.800049,1180.699951,7243.399902,1864.449951,1547.050049,1790.349976,1645.250000,2836.250000,1235.900024,...,330.950012,2987.149902,818.599976,1824.699951,4480.350098,1068.650024,151.750000,1641.300049,3721.399902,11537.250000
2024-09-06 00:00:00.000000,1441.900024,3274.500000,1159.150024,7317.649902,1856.750000,1539.099976,1754.150024,1637.000000,2838.449951,1208.449951,...,329.700012,2929.850098,782.599976,1823.349976,4457.500000,1048.650024,151.250000,1623.400024,3693.800049,11426.799805
2024-09-09 00:00:00.000000,1435.849976,3281.449951,1170.650024,7346.750000,1858.900024,1542.599976,1745.800049,1647.500000,2922.100098,1237.849976,...,328.549988,2926.050049,784.299988,1821.949951,4453.000000,1038.599976,149.399994,1579.949951,3684.100098,11497.099609
2024-09-10 00:00:00.000000,1453.099976,3294.300049,1187.000000,7240.100098,1825.300049,1577.900024,1779.199951,1650.599976,2898.500000,1237.199951,...,334.200012,2923.000000,782.599976,1836.849976,4506.899902,1035.449951,149.449997,1608.150024,3727.949951,11541.799805

In [16]:
df.index = pd.to_datetime(df.index)
df

,ADANIPORTS.BO,ASIANPAINT.BO,AXISBANK.BO,BAJFINANCE.BO,BAJAJFINSV.BO,BHARTIARTL.BO,HCLTECH.BO,HDFCBANK.BO,HINDUNILVR.BO,ICICIBANK.BO,...,POWERGRID.BO,RELIANCE.BO,SBIN.BO,SUNPHARMA.BO,TCS.BO,TATAMOTORS.BO,TATASTEEL.BO,TECHM.BO,TITAN.BO,ULTRACEMCO.BO
Date,,,,,,,,,,,,,,,,,,,,,
2014-01-01,148.608017,457.888153,237.651199,132.478210,71.218613,317.704865,208.925980,291.359375,482.071930,167.935471,...,27.960808,399.871674,136.612396,533.455017,784.349548,370.850983,2.492016,331.822601,219.604156,1694.514771
2014-01-02,145.229492,444.742828,234.155655,132.696854,68.394867,308.764648,207.821655,287.766968,474.442108,164.522919,...,28.706987,393.864899,134.847961,534.852844,787.481628,367.932861,2.459477,329.643463,215.322479,1661.554199
2014-01-03,142.850266,448.315430,231.929550,131.931625,68.465347,309.470459,209.390961,290.614594,476.591705,163.283371,...,28.256466,389.207825,132.804947,540.491272,809.223450,358.782776,2.419022,333.420654,216.178802,1659.299194
2014-01-06,143.516418,449.231506,231.064865,130.531494,68.488838,309.423340,207.788452,290.023193,475.285065,159.258667,...,28.059359,384.663361,130.603226,548.133240,815.633179,362.887939,2.393519,330.079285,216.511826,1651.334839
2014-01-07,138.995834,449.048340,227.081802,130.766968,68.625076,312.105438,208.436081,291.227936,471.533386,160.674149,...,27.777779,378.926453,128.444138,553.352234,804.197632,361.354645,2.314663,327.391602,214.608841,1622.836548
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-09-04,1472.300049,3231.899902,1177.500000,7298.149902,1871.949951,1562.000000,1785.050049,1641.949951,2841.100098,1235.750000,...,332.799988,3029.800049,816.500000,1832.699951,4479.649902,1080.300049,151.300003,1644.849976,3609.000000,11590.500000
2024-09-05,1465.400024,3237.800049,1180.699951,7243.399902,1864.449951,1547.050049,1790.349976,1645.250000,2836.250000,1235.900024,...,330.950012,2987.149902,818.599976,1824.699951,4480.350098,1068.650024,151.750000,1641.300049,3721.399902,11537.250000
2024-09-06,1441.900024,3274.500000,1159.150024,7317.649902,1856.750000,1539.099976,1754.150024,1637.000000,2838.449951,1208.449951,...,329.700012,2929.850098,782.599976,1823.349976,4457.500000,1048.650024,151.250000,1623.400024,3693.800049,11426.799805
2024-09-09,1435.849976,3281.449951,1170.650024,7346.750000,1858.900024,1542.599976,1745.800049,1647.500000,2922.100098,1237.849976,...,328.549988,2926.050049,784.299988,1821.949951,4453.000000,1038.599976,149.399994,1579.949951,3684.100098,11497.099609
2024-09-10,1453.099976,3294.300049,1187.000000,7240.100098,1825.300049,1577.900024,1779.199951,1650.599976,2898.500000,1237.199951,...,334.200012,2923.000000,782.599976,1836.849976,4506.899902,1035.449951,149.449997,1608.150024,3727.949951,11541.799805

In [17]:
formation = dt.datetime(2024, 4, 1).date()
formation

datetime.date(2024, 4, 1)

In [18]:
df = df.resample('M').last()
df

,ADANIPORTS.BO,ASIANPAINT.BO,AXISBANK.BO,BAJFINANCE.BO,BAJAJFINSV.BO,BHARTIARTL.BO,HCLTECH.BO,HDFCBANK.BO,HINDUNILVR.BO,ICICIBANK.BO,...,POWERGRID.BO,RELIANCE.BO,SBIN.BO,SUNPHARMA.BO,TCS.BO,TATAMOTORS.BO,TATASTEEL.BO,TECHM.BO,TITAN.BO,ULTRACEMCO.BO
Date,,,,,,,,,,,,,,,,,,,,,
2014-01-31,139.471710,432.605072,205.970535,128.239990,63.936066,296.577728,245.955276,275.522003,480.849518,151.270493,...,26.890808,373.842010,118.062561,548.133240,817.303284,346.071503,2.088063,325.212524,210.802887,1638.141357
2014-02-28,159.171921,433.246399,232.895401,131.910599,67.629028,270.557251,264.644989,292.432678,462.681244,159.717758,...,26.637388,359.623535,118.534660,598.971802,830.680115,412.545746,2.017123,339.694855,230.451157,1765.425415
2014-03-31,178.443832,500.622009,268.687988,150.528564,74.253784,300.106812,233.495483,328.072235,508.923981,190.591599,...,30.303892,418.229706,162.899719,534.340210,777.849121,394.047699,2.309094,325.884399,249.718903,2100.355713
2014-04-30,179.205200,462.743164,279.496582,157.613251,77.782310,308.341187,238.361160,314.666351,477.940796,190.492142,...,30.505833,420.839386,176.541916,588.580505,800.198364,409.973846,2.348668,332.767029,242.392395,1945.868530
2014-05-31,214.941559,466.682312,337.807861,169.936935,80.145607,323.727631,240.687744,347.896362,506.647583,217.058197,...,35.121368,488.070496,229.016449,566.073669,783.678284,410.963013,2.784866,347.821320,295.675903,2288.283691
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-05-31,1431.557007,2850.117188,1160.854126,6669.028809,1527.486328,1364.247314,1312.740112,1530.849976,2306.232666,1110.096313,...,307.344208,2849.926758,830.099976,1455.538818,3660.994629,917.169739,163.850082,1206.508789,3232.073975,9842.994141
2024-06-30,1477.400024,2917.300049,1264.723999,7115.750000,1587.800049,1437.339966,1448.499634,1683.550049,2475.199951,1189.562500,...,328.071838,3121.255615,848.849976,1517.592285,3895.898926,990.099976,174.000000,1404.197998,3406.100098,11592.572266
2024-07-31,1569.650024,3082.300049,1166.199951,6808.450195,1653.300049,1484.626465,1641.949951,1617.050049,2706.050049,1204.434448,...,345.725067,3000.066895,872.750000,1717.849976,4384.649902,1156.349976,165.350006,1553.900024,3457.850098,11882.799805
2024-08-31,1482.650024,3126.800049,1175.500000,7206.149902,1782.449951,1588.949951,1752.150024,1632.949951,2778.100098,1230.150024,...,337.399994,3019.750000,815.650024,1820.750000,4551.850098,1109.400024,152.800003,1635.699951,3567.149902,11300.650391
2024-09-30,1453.099976,3294.300049,1187.000000,7240.100098,1825.300049,1577.900024,1779.199951,1650.599976,2898.500000,1237.199951,...,334.200012,2923.000000,782.599976,1836.849976,4506.899902,1035.449951,149.449997,1608.150024,3727.949951,11541.799805

In [19]:
begin_formation = formation - MonthEnd(12)
begin_formation = begin_formation.strftime('%Y-%m-%d')
print(begin_formation)

2023-04-30

In [20]:
end_formation = formation - MonthEnd(1)
end_formation = end_formation.strftime('%Y-%m-%d')
print(end_formation)

2024-03-31

In [21]:
begin_price = df.loc[begin_formation]

In [22]:
begin_price

ADANIPORTS.BO     678.289429
ASIANPAINT.BO    2849.499756
AXISBANK.BO       859.336853
BAJFINANCE.BO    6222.596680
BAJAJFINSV.BO    1349.786621
BHARTIARTL.BO     790.937439
HCLTECH.BO       1022.897034
HDFCBANK.BO      1646.445435
HINDUNILVR.BO    2393.476807
ICICIBANK.BO      902.445801
INDUSINDBK.BO    1127.049194
INFY.BO          1196.185547
ITC.BO            411.698914
JSWSTEEL.BO       716.640442
KOTAKBANK.BO     1933.983032
LT.BO            2346.308350
M&M.BO           1217.686035
MARUTI.BO        8509.464844
NESTLEIND.BO     2035.613403
NTPC.BO           165.138550
POWERGRID.BO      165.605103
RELIANCE.BO      2403.522217
SBIN.BO           557.678772
SUNPHARMA.BO      978.110352
TCS.BO           3145.545410
TATAMOTORS.BO     482.163818
TATASTEEL.BO      102.426781
TECHM.BO          969.011719
TITAN.BO         2622.833984
ULTRACEMCO.BO    7475.904785
Name: 2023-04-30 00:00:00, dtype: float64

In [23]:
end_price = df.loc[end_formation]

In [24]:
end_price

ADANIPORTS.BO     1335.967163
ASIANPAINT.BO     2818.721191
AXISBANK.BO       1047.491699
BAJFINANCE.BO     7204.192871
BAJAJFINSV.BO     1642.613770
BHARTIARTL.BO     1222.238770
HCLTECH.BO        1511.288818
HDFCBANK.BO       1428.701294
HINDUNILVR.BO     2246.365967
ICICIBANK.BO      1086.499390
INDUSINDBK.BO     1538.621460
INFY.BO           1469.365479
ITC.BO             421.084839
JSWSTEEL.BO        824.884460
KOTAKBANK.BO      1783.840942
LT.BO             3744.667480
M&M.BO            1907.387085
MARUTI.BO        12494.990234
NESTLEIND.BO      2611.961182
NTPC.BO            333.318420
POWERGRID.BO       274.765106
RELIANCE.BO       2966.730225
SBIN.BO            740.185730
SUNPHARMA.BO      1615.382446
TCS.BO            3846.590332
TATAMOTORS.BO      986.887939
TATASTEEL.BO       152.822174
TECHM.BO          1227.666992
TITAN.BO          3792.340820
ULTRACEMCO.BO     9687.616211
Name: 2024-03-31 00:00:00, dtype: float64

In [25]:
returns = end_price/begin_price -1
returns

ADANIPORTS.BO    0.969612
ASIANPAINT.BO   -0.010801
AXISBANK.BO      0.218954
BAJFINANCE.BO    0.157747
BAJAJFINSV.BO    0.216943
BHARTIARTL.BO    0.545304
HCLTECH.BO       0.477459
HDFCBANK.BO     -0.132251
HINDUNILVR.BO   -0.061463
ICICIBANK.BO     0.203950
INDUSINDBK.BO    0.365177
INFY.BO          0.228376
ITC.BO           0.022798
JSWSTEEL.BO      0.151044
KOTAKBANK.BO    -0.077634
LT.BO            0.595983
M&M.BO           0.566403
MARUTI.BO        0.468364
NESTLEIND.BO     0.283132
NTPC.BO          1.018417
POWERGRID.BO     0.659158
RELIANCE.BO      0.234326
SBIN.BO          0.327262
SUNPHARMA.BO     0.651534
TCS.BO           0.222869
TATAMOTORS.BO    1.046790
TATASTEEL.BO     0.492014
TECHM.BO         0.266927
TITAN.BO         0.445894
ULTRACEMCO.BO    0.295845
dtype: float64

In [27]:
winners = returns.nlargest(5)
winners

TATAMOTORS.BO    1.046790
NTPC.BO          1.018417
ADANIPORTS.BO    0.969612
POWERGRID.BO     0.659158
SUNPHARMA.BO     0.651534
dtype: float64